@use "@sass/colors";
@use "@sass/media-queries" as *;

.container {
  margin: 20px 11px;

  background-color: colors.$bg-light;
  @include xl {
    padding: 0 18vw;
  }
  @include lg {
    padding: 0 10vw;
  }
  @include md {
    padding: 0 3vw;
  }
  @include sm {
    padding: 0 3vw;
  }
  @include xs {
    padding: 0 15vw;
  }
  @include xxs {
    padding: 0 7vw;
  }
}
