$ascent-color: #212731;
$white: #ffffff;
$white-fade-1: #d1d6da;
$white-fade-2: #e1e4e6;
$bg-light: #fbfcfd;
// $bg-light: #e6e6e6;
$detail-font-color: #4b5665;
$font-color-1: #4b5665;
$font-color-2: #626e79;
$blue: #1b88f4;
$light-blue: #f3f9ff;
$dark-blue: #074786;
$light-orange: #fff4ed;
$orange: #ff7724;
$gray-1: #f2f4f7;
