@use "@sass/colors";
@use "@sass/media-queries" as *;

.container {
  width: 100%;
  padding: 13px 0 13px 0;
  display: flex;
  gap: 30px;
  @include lt-md {
    flex-wrap: wrap;
    gap: 0px;
  }
}
.option {
  width: 105px;
  height: 36px;
  border-radius: 12px;
  font-size: 14px;
  color: colors.$detail-font-color;
  background-color: colors.$white;
  display: flex;
  align-items: center;
  padding-left: 16px;
  border: 1px solid colors.$white;
  &:hover {
    border: 1px solid colors.$white-fade-2;
    cursor: pointer;
  }
}
