@use "@sass/colors";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 45px;
}
.tag {
  font-weight: 400;
  color: colors.$detail-font-color;
}
