@use "@sass/colors";
@use "@sass/media-queries" as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 45px;
  @include lt-sm {
    margin: 45px 0 10px 0;
  }
}
.tag {
  font-weight: 400;
  color: colors.$detail-font-color;
}
