@use "@sass/colors";
@use "@sass/media-queries" as *;

.navLinksContainer {
  display: flex;
  gap: 53px;
}
.navLink {
  text-decoration: none;
  color: colors.$white;
  font-size: 14px;
  font-weight: 400;
  color: colors.$white-fade-1;
  @include lt-md {
    display: none;
  }
}
.menu {
  display: none;
  @include lt-md {
    display: flex;
    width: 24px;
    height: 24px;
  }
}
