@use "@sass/colors";
@use "@sass/media-queries" as *;

.strip {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid colors.$white-fade-2;
  border-bottom: 1px solid colors.$white-fade-2;
  width: 100%;
  margin-top: 15px;
  align-items: center;
  height: 45px;
  text-wrap: nowrap;
  @include sm {
    flex-wrap: wrap;
    height: 90px;
    margin-top: 0;
  }
  @include lt-sm {
    flex-wrap: wrap;
    height: 90px;
    margin-top: 0;
    display: none;
  }
}
.leftContainer {
  display: flex;
  align-items: center;
  gap: 32px;
  @include lt-md {
    flex-wrap: wrap;
  }
}
