@use "@sass/colors";

.container {
  display: flex;
  align-items: center;
  gap: 14px;
  margin: 20px 0 20px 0;
  h2 {
    margin: 0;
    font-size: 20px;
    // font-weight: 400;
  }
}

.textWrap1 {
  font-weight: 400;
}
.textWrap2 {
  font-weight: 700;
  color: colors.$red;
}
