@use "@sass/colors";
@use "@sass/media-queries" as *;

.searchBar {
  background-color: colors.$white;
  height: 37px;
  width: 258px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  padding: 0px 0px 0px 11px;
  border: 1px solid colors.$white-fade-2;
  @include lt-md {
    display: none;
  }
}
