@use "@sass/colors";
.container {
  line-height: 25px;
  margin-bottom: 15px;
}
.titleText {
  font-size: 16px;
  font-weight: 600;
  color: colors.$font-color-1;
}
.description {
  font-size: 16px;
  color: colors.$font-color-1;
}
