@use "@sass/colors";

.wrapperCompact {
}

.wrapper {
  background-color: colors.$white;
  display: flex;
  border-radius: 15px;
  border: 1px solid colors.$white-fade-1;
}

.textContainer {
  margin: 40px;
  flex: 1;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px 15px 0;
}
